<!DOCTYPE html>
<html lang="en">
 
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link href="style.css" rel="stylesheet">
    </head>
 
    <body>
        <script src="/socket.io/socket.io.js"></script>
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg py-5" id="mainNavbar">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                    <span class="nav-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/"> Homepage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/signupToPlay"> Games </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login"> Log-In </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <img src="assets/image1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-caption d-none d-md-block">
                  <h1>SIGN-UP</h1>
                <div id="container">
                    <form action="/signup" method="post">
                        <br><br>
                        <div class="form-group">
                          <label for="formGroupExampleInput"><h5>Username</h5></label>
                          <input type="text" name= "username" class="form-control" id="formGroupExampleInput" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1"><H5>Password</H5></label>
                            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <br><br><br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
               
              </div>
            </div>
        </div>
           

        
    </body>
 
</html>